.text-light-blue {
  color: #00afa0;
}

.text-maroon {
  color: #800000;
}

.text-dark-blue {
  color: #191970;
}

.text-blue {
  color: blue;
}

.text-red {
  color: #dc143c;
}

a:hover, .text-indigo {
  color: #4b0082;
}
